<p id="notice"><%= notice %></p>

<p>
  <strong>Reports:</strong>
  <%= @comment.reports_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Commented user:</strong>
  <%= @comment.commented_user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
