<p id="notice"><%= notice %></p>
<h3>Comments</h3>
<% @users.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>
<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Y:</strong>
  <%= @report.y %>
</p>

<p>
  <strong>W:</strong>
  <%= @report.w %>
</p>

<p>
  <strong>T:</strong>
  <%= @report.t %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @report.draft %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>