<!DOCTYPE html>
<html>

<head><!-- // ヘッダ -->
  <title>日報管理システム</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head><!-- // ヘッダ -->


<body><!-- // 本体 -->

<!-- ナビゲーションバー -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <h1 class="navbar-header">
      <a class="navbar-brand" href="/">日報管理システム <i class="fa fa-coffee" aria-hidden="true"></i></a>
    </h1>

    <div class="navbar-text navbar-right">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>
        <%= link_to 'プロフィール編集', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% else %>
        <%= link_to "サインアップ", new_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link' %>
      <% end %>
    </div>
  </div>
</nav>
<!-- ナビゲーションバー -->

<% if notice %>
<div class="alert alert-success content-block"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert alert-danger content-block"><%= alert %></div>
<% end %>

<!-- コンテンツ -->
<div class="container panel content-block" id="body">
<%= yield %>
</div>
<!-- コンテンツ -->

<!-- フッター -->
<footer class="content-block" id="footer">
  <p>日報管理システム <i class="fa fa-coffee" aria-hidden="true"></i>　&copy; 2016</p>
</footer>
<!-- フッター -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body><!-- // 本体  -->

</html>
